footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212529;
}
.bibliografia{
    color: white;
}
.redes_sociales{
    font-size: 20px;
}

.link_biblio{
    color: white;
    text-decoration: none;
    border: 0px solid rgb( 0, 0, 0,0.0);
}

.link_biblio:hover{
    transition: all 0.3s ease;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.derechos{
    font-size: 11px;
    color: gray;
}

.logo_footer{
    padding: 20px 0px;
}

.link_red{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 8px;
    margin: 0px 5px;
    font-size: 20px;

}

.link_red:hover{
    color:black;
    background: white;
    transition: all 0.3s ease;
}